/* App.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up the full viewport height */
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center; /* Centers the app horizontally */
}

/* ContainerStyles.css */
.fadeInContainer {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
